## function

In [ ]:
use of function :
    repeated

In [ ]:
syntax : 
    keywrod :
        def  
    last is a ;

In [6]:
def msg(name): # paramerter
    print("good morning ",name)
msg("siddu") # Argument

good morning  siddu

In [7]:
msg("pash")

good morning  pash

In [ ]:
two type function:
    1)Built in function-------> already eg len(),max(),min(),print(),input()
    2) user defined -----> create by  user eg prasad()

In [ ]:
# using print
def msg(name): # paramerter
    print("good morning ",name)
msg("siddu") # Argument

In [9]:
def msg(name1,name2): # paramerter
    print("good morning ",name1)
    print("good evening",name2)
msg("siddu","prasad") # Argument                      # by using return

good morning  siddu
good evening prasad

In [13]:
def msg(name1,name2): # paramerter
    return("good morning ",name1,"and",name2)

msg("siddu","prasad") # Argument  retun go back

('good morning ', 'siddu', 'and', 'prasad')

In [17]:
def no(n):
    return n+100,n-100,n*100,n/100
no(2)

(102, -98, 200, 0.02)

In [ ]:
Types of argument:
    1) default arg
    2) keywrod arg 
    3)Aribitary arg :
        * kwarg  ----> tuple format ---> non keywrod arg 
        ** kwarg------> dict format ---> keywrod arg

In [19]:
def no(n1=50,n2=25):
    return n1+n2
no(10,20)

30

In [20]:
def no(n1=50,n2=25):
    return n1+n2
no()

75

In [21]:
def kw(n1,n2):
    return n1+n2
kw(10,20)

30

In [22]:
def kw(n1,n2):
    return n1+n2
kw(n1=10,n2=20)

30

In [23]:
def ar(*name):
    return name
ar("prasad","sid")

('prasad', 'sid')

In [42]:
def ar(name,**name2):
    return name2
ar("akshay")

{}

In [ ]:
function End

In [ ]:
function fibcoseries

In [ ]:
input 5
output 0 1 1 2 3  
       0+1+1+2=3

In [54]:
a=int(input("Enter a number"))
f=0
s=1
print(f,s,end=" ")
for i in range(2,a):
    t=f+s
    print(t,end=" ")
    f=s
    s=t

Enter a number5
0 1 1 2 3

### recursion

In [ ]:
recursion is itself call in one or more time

In [ ]:
factrial:

In [57]:
def fact(n):
    if n==1:
        return n
    else:
        return n*fact(n-1)
fact(5)

120

In [61]:
5*4*3*2*1

120

In [60]:
def factorial(num):#function definition
    fact=1

    for i in range(1, num+1):#for loop for finding factorial
        fact=fact*i
    return fact    #return factorial 

number=int(input("Please enter any number to find factorial: "))

factorial(number)

Please enter any number to find factorial: 5

120

In [62]:
li=[1,2,3,4,5]

In [65]:
li=[1,2,3,4,5]
def sm(li):
    if len(li)==1:
        return li[0]
    else:
        return li[0]+sm(li[1:])
sm(li)

15

### Lambda

In [ ]:
with out name function 
anonymus  fun 
lambda keyword use

In [ ]:
syntax :
    lambda argument:exp   
            more than :  exp----> only one time

In [66]:
def add(a,b):
    return a+b
add(5,1)
    # normal fun

6

In [70]:
df=lambda a,b:a+b

In [71]:
df(10,12)

22

In [72]:
a=lambda x:x*2

In [73]:
a(5)

10

In [74]:
b=lambda x:x**2

In [75]:
b(10)

100

In [ ]:
filter :
     condtion true --> filter if else same wrok

In [ ]:
filter(function ,iterable )

In [80]:
li=[10,20,25,30,35,45,50]
list(filter(lambda x:x%2==0,li))

[10, 20, 30, 50]

In [89]:
li=[10,20,25,30,35,45,50,200,500,600]
list(filter(lambda x:x%100,li))

[10, 20, 25, 30, 35, 45, 50]

### Map

In [ ]:
map fun is a for loop iteration 
li=[10,20]
syntax map(fun ,iteralble)

In [90]:
li=[1,4,5,6,4,7]

In [91]:
list(map(lambda x:x**2,li))

[1, 16, 25, 36, 16, 49]

In [96]:
a=lambda x:x**2

In [100]:
a([li])

TypeError: unsupported operand type(s) for ** or pow(): 'list' and 'int'

In [101]:
list(filter(lambda x:x**2,li))

[1, 4, 5, 6, 4, 7]

### Reduces

In [ ]:
[1, 4, 5, 6, 4, 7] ----> not output 
one value in output eg ==20

In [4]:
from functools import reduce

In [18]:
li=[1, 4, 5, 6, 4, 7]
a=(lambda x,y:x+y,li)
#a=reduce(lambda x,y:x*y,li)
a(li)

TypeError: 'map' object is not callable

In [ ]:
Gobal variable :
  outside the fun (inside,outside )
local variable :
    inside the fun (inside )

In [23]:
def fun(n):
    n=n+10#----------local 
    print("inside function")
n=100#---------> gobal 
fun(n)
print(n)

inside function
100

In [26]:
def fun(n):
    x=n+10
    print(x)
n=100
fun(n)
#print(x)

110

In [ ]:
---------------End -------------------------

### Model

In [ ]:
collection in file or fun is called model

In [27]:
import math

In [ ]:
model>>packege>>lib>>framewrok

In [ ]:
package :
    collection of model is called package

In [ ]:
game:
    sound:
        load:

In [ ]:
lib :
    collection of package is called as a lib 
    eg numpy ,pandas ,seaborn ,matplot

In [ ]:
framwrok:
    collection of lib is called as a framewrok :
        1) django
        2) Flask

In [ ]:
------------------End------------------------