In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.4.4'

In [6]:
a=[10,20,30,40,50]
b=[60,70,80,90,100]
c=[11,22,33,44,55]

In [9]:
a=pd.DataFrame([a,b,c])

In [10]:
a

    0   1   2   3    4
0  10  20  30  40   50
1  60  70  80  90  100
2  11  22  33  44   55

In [11]:
type(a)

pandas.core.frame.DataFrame

In [15]:
b=pd.Series([a])
print(b)

0        0   1   2   3    4
0  10  20  30  40   50
...
dtype: object

In [16]:
type(b)

pandas.core.series.Series

In [26]:
my_dict={"Name":"Akshay","Marks":85}
c=pd.Series(my_dict)

In [27]:
c

Name     Akshay
Marks        85
dtype: object

In [25]:
type(c)

pandas.core.series.Series

### Attribute Of Series

1.index 
2.array
3.values
4.Name
5.shape
6.empty

In [33]:
a=pd.Series(["Akshay","om","Ravi"],index=["a","b","c"],name="mock")  # index

In [34]:
a

a    Akshay
b        om
c      Ravi
Name: mock, dtype: object

In [35]:
a=pd.Series(["Akshay","om","Ravi"],index=["a","b","c"],name="mock")

In [37]:
a.name    # name

'mock'

In [38]:
a.index  # index

Index(['a', 'b', 'c'], dtype='object')

In [40]:
a.values  # value

array(['Akshay', 'om', 'Ravi'], dtype=object)

In [41]:
a.array # array

<PandasArray>
['Akshay', 'om', 'Ravi']
Length: 3, dtype: object

In [42]:
a.shape # shape

(3,)

In [43]:
a.empty  # empty

False

### mathematical operation

In [44]:
s1=pd.Series([10,20,30,40,50])
s2=pd.Series([70,80,90,10,20])

In [45]:
s1

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [46]:
s2

0    70
1    80
2    90
3    10
4    20
dtype: int64

In [47]:
s1.add(s2)  # addition

0     80
1    100
2    120
3     50
4     70
dtype: int64

In [48]:
s1.sub(s2)  # substraction

0   -60
1   -60
2   -60
3    30
4    30
dtype: int64

In [53]:
#s1.multiply(s2)  # multiplicagtion
s1*s2

0     700
1    1600
2    2700
3     400
4    1000
dtype: int64

In [56]:
s2.mod(s1)   # Division

0     0
1     0
2     0
3    10
4    20
dtype: int64

In [57]:
s2.pow(s1)  # power

0    2824752490000000000
1                      0
2   -3320298383486222336
3   -5047021154770878464
4                      0
dtype: int64

In [58]:
s1.le(s2) #lessthan

0     True
1     True
2     True
3    False
4    False
dtype: bool

In [62]:
s1.floordiv(s2)  # Floordiv

0    0
1    0
2    0
3    4
4    2
dtype: int64