In [2]:
import pandas as pd

In [6]:
pip install pypdf2

Collecting pypdf2
  Downloading pypdf2-3.0.0-py3-none-any.whl (232 kB)
Requirement already satisfied: typing_extensions>=3.10.0.0 in c:\users\ddr\anaconda3\lib\site-packages (from pypdf2) (4.1.1)
Installing collected packages: pypdf2
Successfully installed pypdf2-3.0.0
Note: you may need to restart the kernel to use updated packages.

### empty series

In [13]:
import pandas as pd

In [14]:
a=pd.Series()
print(a)
print(type(a))

Series([], dtype: float64)
<class 'pandas.core.series.Series'>

C:\Users\DDR\AppData\Local\Temp\ipykernel_12788\2584896284.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  a=pd.Series()

### series form list

In [15]:
a=pd.Series(['Akshay','Prasad','siddu'],index=[1,2,3],name='mock')

In [16]:
print(a)

1    Akshay
2    Prasad
3     siddu
Name: mock, dtype: object

### pandas

In [ ]:
1 Series  # 1 dim 
2.DataFrame  # 2 dim 
3.Panel # multi

### series

In [2]:
pip install pandas

Requirement already satisfied: pandas in c:\users\ddr\anaconda3\lib\site-packages (1.4.2)Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\ddr\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\ddr\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: numpy>=1.18.5 in c:\users\ddr\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: six>=1.5 in c:\users\ddr\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [3]:
import pandas as pd

In [4]:
pd.__version__

'1.4.2'

In [5]:
import numpy as np

In [6]:
np.__version__

'1.21.5'

### empty series

In [7]:
import pandas as pd

In [8]:
a=pd.Series()
print(a)

Series([], dtype: float64)

C:\Users\DDR\AppData\Local\Temp\ipykernel_12060\374528593.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  a=pd.Series()

### list

In [11]:
a=pd.Series([10,20,30],index=[1,2,3],name="mock")
print(a)

1    10
2    20
3    30
Name: mock, dtype: int64

In [12]:
a=pd.Series([10,20,30],name="mock")

In [13]:
print(a)

0    10
1    20
2    30
Name: mock, dtype: int64

In [14]:
import numpy as np

In [15]:
a=np.array(['a','b','c'])
a

array(['a', 'b', 'c'], dtype='<U1')

In [17]:
a=pd.Series(a)
print(a)

0    a
1    b
2    c
dtype: object

### tuple

In [18]:
p1=pd.Series((1,2,3,4,5))

In [19]:
p1

0    1
1    2
2    3
3    4
4    5
dtype: int64

### Dict

In [20]:
a=pd.Series({"name":"akshay","Marks":15})

In [21]:
a

name     akshay
Marks        15
dtype: object

### Attribute

### Index

In [22]:
a=pd.Series([10,20,30,40,50])
a.index
a

0    10
1    20
2    30
3    40
4    50
dtype: int64

### Array

In [24]:
a=pd.Series([10,20,30,40,50])
a.array

<PandasArray>
[10, 20, 30, 40, 50]
Length: 5, dtype: int64

### value

In [28]:
a=pd.Series([10,20,30,40,50])
a.values

array([10, 20, 30, 40, 50], dtype=int64)

### Name

In [31]:
a=pd.Series({"name":"akshay","Marks":15},name="mock")
a.name

'mock'

### Shape

In [40]:
a=pd.Series([10,20,30,40],name="mock")
a.shape

(4,)

### Math

In [44]:
s1=pd.Series([10,20,30])
s1

0    10
1    20
2    30
dtype: int64

In [45]:
s2=pd.Series([40,50,60])
s2

0    40
1    50
2    60
dtype: int64

In [46]:
s1+s2

0    50
1    70
2    90
dtype: int64

In [47]:
s1.add(s2)

0    50
1    70
2    90
dtype: int64

In [52]:
s2-s1

0    30
1    30
2    30
dtype: int64

In [50]:
s2.subtract(s1)

0    30
1    30
2    30
dtype: int64

In [51]:
s1*s2

0     400
1    1000
2    1800
dtype: int64

In [53]:
s2.mod(s1)

0     0
1    10
2     0
dtype: int64

In [54]:
s2.pow(s1)

0      10485760000000000
1    5474894590040342528
2    1152921504606846976
dtype: int64

In [55]:
s1.le(s2)

0    True
1    True
2    True
dtype: bool

In [57]:
s1.floordiv(s2)

0    0
1    0
2    0
dtype: int64

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
path=r"C:\Users\DDR\Desktop\python velocity\CSV/IPL.csv"

In [5]:
df=pd.read_csv(path)
df

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
631,632,2016,Raipur,2016-05-22,Delhi Daredevils,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Royal Challengers Bangalore,0,6,V Kohli,Shaheed Veer Narayan Singh International Stadium,A Nand Kishore,BNJ Oxenford,NaN
632,633,2016,Bangalore,2016-05-24,Gujarat Lions,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Royal Challengers Bangalore,0,4,AB de Villiers,M Chinnaswamy Stadium,AK Chaudhary,HDPK Dharmasena,NaN
633,634,2016,Delhi,2016-05-25,Sunrisers Hyderabad,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Sunrisers Hyderabad,22,0,MC Henriques,Feroz Shah Kotla,M Erasmus,C Shamshuddin,NaN
634,635,2016,Delhi,2016-05-27,Gujarat Lions,Sunrisers Hyderabad,Sunrisers Hyderabad,field,normal,0,Sunrisers Hyderabad,0,4,DA Warner,Feroz Shah Kotla,M Erasmus,CK Nandan,NaN
635,636,2016,Bangalore,2016-05-29,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,normal,0,Sunrisers Hyderabad,8,0,BCJ Cutting,M Chinnaswamy Stadium,HDPK Dharmasena,BNJ Oxenford,NaN

In [6]:
pd.set_option(display.max_rows,500)
pd.set_option(display.max_column,500)

AttributeError: 'function' object has no attribute 'max_rows'

df.coulmns

In [7]:
df.columns

Index(['id', 'season', 'city', 'date', 'team1', 'team2', 'toss_winner',
       'toss_decision', 'result', 'dl_applied', 'winner', 'win_by_runs',
       'win_by_wickets', 'player_of_match', 'venue', 'umpire1', 'umpire2',
       'umpire3'],
      dtype='object')

In [8]:
df.head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

### DataFrame

In [1]:
import pandas as pd

In [6]:
path=(r"C:\Users\DDR\Desktop\python velocity\CSV\in.csv")

In [8]:
df=pd.read_csv(path,encoding=('ISO-8859-1'))

In [9]:
df

,Rank,Username,Owner,Brand\naccount,Followers(millions)[2],Profession/Activity,Country/Continent
0,1,@instagram,Instagram,+,583.0,Social media platform,United States
1,2,@cristiano,Cristiano Ronaldo,-,525.0,Footballer,Portugal
2,3,@leomessi,Lionel Messi,-,411.0,Footballer,Argentina
3,4,@kyliejenner,Kylie Jenner,-,376.0,"Television personality, model and businesswoman",United States
4,5,@selenagomez,Selena Gomez,-,366.0,"Musician, actress, and businesswoman",United States
5,6,@therock,Dwayne Johnson,-,355.0,Actor and professional wrestler,United States
6,7,@arianagrande,Ariana Grande,-,346.0,"Musician, actress and businesswoman",United States
7,8,@kimkardashian,Kim Kardashian,-,337.0,"Television personality, model and businesswoman",United States
8,9,@beyonce,Beyoncé,-,288.0,"Musician, actress and businesswoman",United States
9,10,@khloekardashian,Khloé Kardashian,-,285.0,Television personality and model,United States
10,11,@justinbieber,Justin Bieber,-,271.0,Musician,Canada
11,12,@kendalljenner,Kendall Jenner,-,268.0,Model and television personality,United States
12,13,@nike,Nike,+,259.0,Sportswear multinational,United States
13,14,@natgeo,National Geographic,+,252.0,Magazine,United States
14,15,@taylorswift,Taylor Swift,-,237.0,Musician and actress,United States
15,16,@jlo,Jennifer Lopez,-,230.0,Musician and actress,United States
16,17,@virat.kohli,Virat Kohli,-,229.0,Cricketer,India
17,18,@nickiminaj,Nicki Minaj,-,207.0,Musician,Trinidad and Tobago United States
18,19,@kourtneykardash,Kourtney Kardashian,-,206.0,Television personality and model,United States
19,20,@neymarjr,Neymar,-,198.0,Footballer,Brazil
20,21,@mileycyrus,Miley Cyrus,-,191.0,Musician and actress,United States
21,22,@katyperry,Katy Perry,-,184.0,Musician,United States
22,23,@zendaya,Zendaya,-,162.0,Actress and singer,United States
23,24,@kevinhart4real,Kevin Hart,-,161.0,Comedian and actor,United States
24,25,@iamcardib,Cardi B,-,146.0,Musician and actress,United States
25,26,@ddlovato,Demi Lovato,-,145.0,Musician and actress,United States
26,27,@kingjames,LeBron James,-,140.0,Basketball player,United States
27,28,@badgalriri,Rihanna,-,139.0,Musician and businesswoman,Barbados
28,29,@realmadrid,Real Madrid CF,+,129.0,Football club,Spain
29,30,@theellenshow,Ellen DeGeneres,-,129.0,Comedian and television personality,United States
30,31,@champagnepapi,Drake,-,128.0,Musician,Canada
31,32,@chrisbrownofficial,Chris Brown,-,127.0,Musician,United States
32,33,@fcbarcelona,FC Barcelona,+,115.0,Football club,Spain
33,34,@billieeilish,Billie Eilish,_,107.0,Musician,United States
34,35,@championsleague,UEFA Champions League,+,101.0,Club football competition,Europe
35,36,@gal_gadot,Gal Gadot,-,92.6,Actress,Israel
36,37,@k.mbappe,Kylian Mbappé,-,91.8,Footballer,France
37,38,@dualipa,Dua Lipa,-,87.5,Musician,United Kingdom Albania
38,39,@nasa,NASA,+,86.0,Space agency,United States
39,40,@lalalalisa_m,Lisa,-,85.7,Musician,Thailand
40,41,@vindiesel,Vin Diesel,-,85.2,Actor,United States
41,42,@priyankachopra,Priyanka Chopra,-,84.1,Actress and musician,India
42,43,@khaby00,Khaby Lame,-,80.2,Social media personality,Italy Senegal
43,44,@snoopdogg,Snoop Dogg,-,78.5,Musician,United States
44,45,@shakira,Shakira,-,77.9,Musician,Colombia
45,46,@shraddhakapoor,Shraddha Kapoor,-,76.9,Actress,India
46,47,@davidbeckham,David Beckham,-,76.6,Former FootballerPresident of Inter Miami,United Kingdom
47,48,@gigihadid,Gigi Hadid,-,76.4,Model,United States
48,49,@victoriassecret,Victoria's Secret,+,73.8,Lingerie company,United States
49,50,@aliaabhatt,Alia Bhatt,-,73.6,Actress and musician,United Kingdom India